<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">         
      <page
            class="org.daisy.emerson.ui.dtb.preferences.SkippabilityPage"
            id="org.daisy.reader.ui.dtb.preferences.SkippabilityPage"
            name="%page.name.skippabilityDTB">
      </page> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">         
      <initializer
            class="org.daisy.emerson.ui.dtb.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.daisy.emerson.menus.ControlMenu">
            <command
                  commandId="org.daisy.reader.model.dtb.toggleplaystop"
                  style="push"      
                  icon="/icons/play-16x16.png"            
                  label="%command.label.play">                  
                  <visibleWhen
                        checkEnabled="false">
                        <and>                        
	                        <with
	              				variable="org.daisy.reader.model.IsDTB">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
	        				<with
	              				variable="org.daisy.reader.model.IsRendering">
	           						<equals
	                 					value="false">
	           						</equals>
	        				</with>
        				</and>
                  </visibleWhen>                                    
            </command>
            <command
                  commandId="org.daisy.reader.model.dtb.toggleplaystop"
                  style="push"            
                  icon="/icons/stop-16x16.png"        
                  label="%command.label.stop">                  
                  <visibleWhen
                        checkEnabled="false">                        
                        <and>                        
	                        <with
	              				variable="org.daisy.reader.model.IsDTB">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
	        				<with
	              				variable="org.daisy.reader.model.IsRendering">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
        				</and>
                  </visibleWhen>                 
            </command>
      </menuContribution>
      <!-- next and prev phrase -->
      <menuContribution
            locationURI="menu:org.daisy.emerson.menus.ControlMenu?after=additions">
            <command
                  commandId="org.daisy.emerson.commands.navigator.navigate.phrase.next">                  
                  <visibleWhen
                        checkEnabled="false">                    
	                        <with
	              				variable="org.daisy.reader.model.IsDTB">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
                  </visibleWhen>                                    
            </command>
            <command
                  commandId="org.daisy.emerson.commands.navigator.navigate.phrase.prev">                  
                  <visibleWhen
                        checkEnabled="false">                                         
	                    <with variable="org.daisy.reader.model.IsDTB">
							<equals
             					value="true">
       						</equals>
						</with>
                  </visibleWhen>                 
            </command>
      </menuContribution>
      <!-- coolbar -->        
	  <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="org.daisy.emerson.ui.main.toolbar.navigator">
            <command
                  commandId="org.daisy.reader.model.dtb.toggleplaystop"
                  style="push"      
                  icon="/icons/play-32x32.png"            
                  label="%command.label.play">                  
                  <visibleWhen
                        checkEnabled="false">
                        <and>                        
	                        <with
	              				variable="org.daisy.reader.model.IsDTB">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
	        				<with
	              				variable="org.daisy.reader.model.IsRendering">
	           						<equals
	                 					value="false">
	           						</equals>
	        				</with>
        				</and>
                  </visibleWhen>                                    
            </command>
            <command
                  commandId="org.daisy.reader.model.dtb.toggleplaystop"
                  style="push"            
                  icon="/icons/stop-32x32.png"        
                  label="%command.label.stop">                  
                  <visibleWhen
                        checkEnabled="false">                        
                        <and>                        
	                        <with
	              				variable="org.daisy.reader.model.IsDTB">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
	        				<with
	              				variable="org.daisy.reader.model.IsRendering">
	           						<equals
	                 					value="true">
	           						</equals>
	        				</with>
        				</and>
                  </visibleWhen>                 
            </command>
	            <separator
	                  name="org.daisy.emerson.main.dtbseparator"
	                  visible="true">
	            </separator>	         
            </toolbar>
      </menuContribution>      
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
         <key
         	   commandId="org.daisy.reader.model.dtb.toggleplaystop"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
               sequence="B">               
         </key>
         <key
         	   commandId="org.daisy.emerson.commands.navigator.navigate.phrase.prev"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
               sequence="A">                                            
         </key>  
         <key
         	   commandId="org.daisy.emerson.commands.navigator.navigate.phrase.next"         	   
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
               sequence="S">                              
         </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.daisy.reader.model.dtb.toggleplaystop"
            name="%command.name.togglePlayStop">
      </command>
      <command
      		categoryId="org.daisy.emerson.ui.navigator.category.phrases"
            id="org.daisy.emerson.commands.navigator.navigate.phrase.next"
            name="%command.name.nextPhrase">
      </command>        
      <command
      		categoryId="org.daisy.emerson.ui.navigator.category.phrases"
            id="org.daisy.emerson.commands.navigator.navigate.phrase.prev"
            name="%command.name.prevPhrase">                          
      </command>    
      
      <category
            id="org.daisy.emerson.ui.navigator.category.phrases"
            name="Phrase Navigation Category">
      </category>      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.daisy.emerson.ui.dtb.handlers.TogglePlayStopHandler"
            commandId="org.daisy.reader.model.dtb.toggleplaystop">
 			<activeWhen>	        
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>  
			</activeWhen>   
			<enabledWhen>			    
				<with
          			variable="org.daisy.reader.model.IsDTB">
       				<equals
             			value="true">
       				</equals>
    			</with>
			</enabledWhen>
				
      </handler>
      <handler
            class="org.daisy.emerson.ui.dtb.handlers.NavigatePrevPhraseHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.phrase.prev">
 			<activeWhen>	        
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>  
			</activeWhen>   
			<enabledWhen>			    
				<with
          			variable="org.daisy.reader.model.IsDTB">
       				<equals
             			value="true">
       				</equals>
    			</with>
			</enabledWhen>				
      </handler>    
      
      <handler
            class="org.daisy.emerson.ui.dtb.handlers.NavigateNextPhraseHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.phrase.next">
 			<activeWhen>	        
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>  
			</activeWhen>   
			<enabledWhen>			    
				<with
          			variable="org.daisy.reader.model.IsDTB">
       				<equals
             			value="true">
       				</equals>
    			</with>
			</enabledWhen>			
      </handler>

   </extension>
      
   <extension
         point="org.daisy.reader.model.propertyManager">
      <propertyManager
            class="org.daisy.emerson.ui.dtb.property.DtbModelPropertyManager"
            for="org.daisy.reader.model.z2005.Z2005Model">
      </propertyManager>
      <propertyManager
            class="org.daisy.emerson.ui.dtb.property.DtbModelPropertyManager"
            for="org.daisy.reader.model.d202.D202Model">
      </propertyManager>      
   </extension>
 
</plugin>
