<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.notes"
            icon="icons/bookmarks.gif"
            category="org.daisy.emerson.ui.views"
            class="org.daisy.emerson.ui.notes.NotesView"
            id="org.daisy.emerson.ui.views.notes">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.daisy.emerson.ui.perspectives.default">
            <view
                  closeable="true"
                  id="org.daisy.emerson.ui.views.notes"
                  moveable="true"
                  relationship="stack"
                  relative="org.daisy.emerson.ui.perspectives.default.bottomFolder"
                  showTitle="true"
                  standalone="false"
                  visible="true"/>                        
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">      
      <definition
            id="org.daisy.emerson.ui.views.notes.inView">            
	         <with variable="activePartId">
	            <equals value="org.daisy.emerson.ui.views.notes" />
	         </with>	        
      </definition>      
   </extension>
      
   <extension
         point="org.eclipse.ui.menus">
         <!--      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.daisy.emerson.ui.main.toolbar.publication">
         <toolbar
               id="org.daisy.emerson.ui.main.toolbar.showViews">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/bookmarks.gif"
                  id="org.daisy.emerson.ui.main.toolbar.showMarker"
                  label="Go to the Marker"
                  mnemonic="M">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.daisy.emerson.ui.views.marker">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      -->
      <menuContribution
            locationURI="menu:org.daisy.emerson.menus.ShowViewMenu">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/bookmarks.gif"
               id="org.daisy.emerson.ui.main.menu.showMarker"
               label="%command.label.showNotes"
               mnemonic="%command.mnemonic.showNotes">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.daisy.emerson.ui.views.notes">
            </parameter>
         </command>
      </menuContribution>      
      <!--
      <menuContribution
            locationURI="toolbar:org.daisy.emerson.ui.views.notes?after=additions">
         <command
               commandId="org.daisy.emerson.commands.note.create"
               id="org.daisy.emerson.toolbars.note.add">
         </command>
         <command
               commandId="org.daisy.emerson.commands.note.delete"
               id="org.daisy.emerson.toolbars.note.delete">
         </command>
         <command
               commandId="org.daisy.emerson.commands.note.edit"
               id="org.daisy.emerson.toolbars.note.edit">
         </command>         
         <command
               commandId="org.daisy.emerson.commands.note.dereference"
               id="org.daisy.emerson.toolbars.marker.go">
         </command>
         <command 
               commandId="org.daisy.emerson.commands.note.import"
               id="org.daisy.emerson.toolbars.marker.import">
         </command>
         <command 
               commandId="org.daisy.emerson.commands.note.export"
               id="org.daisy.emerson.toolbars.marker.export">
         </command>
      </menuContribution>
      -->
      <menuContribution
            locationURI="menu:org.daisy.emerson.ui.views.notes?after=additions">            
         <command
               commandId="org.daisy.emerson.commands.note.create"
               id="org.daisy.emerson.menus.marker.add">
         </command>
         <command 
               commandId="org.daisy.emerson.commands.note.delete"
               id="org.daisy.emerson.menus.marker.delete">
         </command>
		 <command
               commandId="org.daisy.emerson.commands.note.edit"
               id="org.daisy.emerson.menus.marker.edit">
         </command>         
         <command 
               commandId="org.daisy.emerson.commands.note.dereference"
               id="org.daisy.emerson.menus.marker.go">
         </command>
         <command 
               commandId="org.daisy.emerson.commands.note.import"
               id="org.daisy.emerson.menus.marker.import">
         </command>
         <command 
               commandId="org.daisy.emerson.commands.note.export"
               id="org.daisy.emerson.menus.marker.export">
         </command>
		<separator 
         		name="org.daisy.emerson.notes.menu.separator1" 
         		visible="true"> 
		 </separator>
         <command
               commandId="org.daisy.emerson.commands.view.close"
               id="org.daisy.emerson.menus.notes.view.close">
               <parameter
                     name="org.daisy.emerson.ui.views.close.viewID"
                     value="org.daisy.emerson.ui.views.notes">
               </parameter>
         </command>         
      </menuContribution>
      
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.daisy.emerson.contexts.views.notes"
            name="Notes Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.daisy.emerson.commands.note.dereference"
            contextId="org.daisy.emerson.contexts.views.notes"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key> 
      <key
            commandId="org.daisy.emerson.commands.note.edit"
            contextId="org.daisy.emerson.contexts.views.notes"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>       
      <key
            commandId="org.daisy.emerson.commands.note.delete"
            contextId="org.daisy.emerson.contexts.views.notes"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="DELETE">
      </key>    
      <key
            commandId="org.daisy.emerson.commands.note.create"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>                    
      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="M3+M">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.daisy.emerson.ui.views.notes">
         </parameter>
      </key>
      <key
            commandId="org.daisy.emerson.commands.note.import"
            contextId="org.daisy.emerson.contexts.views.notes"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>  
      <key
            commandId="org.daisy.emerson.commands.note.export"
            contextId="org.daisy.emerson.contexts.views.notes"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>           
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.daisy.emerson.commands.note.delete"
            name="%command.name.deleteSelectedNote">
      </command>
      <command
            id="org.daisy.emerson.commands.note.create"
            name="%command.name.addNewNote">
      </command>
      <command
            id="org.daisy.emerson.commands.note.edit"
            name="%command.name.editNote">
      </command>
      <command
            id="org.daisy.emerson.commands.note.dereference"
            name="%command.name.goToNoteLocation">
      </command>
            <command
            id="org.daisy.emerson.commands.note.import"
            name="%command.name.importNotes">
      </command>
            <command
            id="org.daisy.emerson.commands.note.export"
            name="%command.name.exportNotes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.daisy.emerson.commands.note.delete"
            disabledIcon="icons/remove_bookmark_disabled.gif"
            icon="icons/remove_bookmark.gif">
      </image>
      <image
            commandId="org.daisy.emerson.commands.note.create"
            disabledIcon="icons/add_bookmark_disabled.gif"
            icon="icons/add_bookmark.gif">
      </image>
      <image
            commandId="org.daisy.emerson.commands.note.edit"
            disabledIcon="icons/info_disabled.gif"
            icon="icons/info.gif">
      </image>
      <image
            commandId="org.daisy.emerson.commands.note.dereference"
            disabledIcon="icons/bookmark_go_disabled.gif"
            icon="icons/bookmark_go.gif">
      </image>
      <image
            commandId="org.daisy.emerson.commands.note.import"
            disabledIcon="icons/import_disabled.gif"
            icon="icons/import.gif">
      </image>
      <image
            commandId="org.daisy.emerson.commands.note.export"
            disabledIcon="icons/export_disabled.gif"
            icon="icons/export.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.daisy.emerson.ui.notes.handlers.CreateNoteHandler"
            commandId="org.daisy.emerson.commands.note.create">	        
	        <enabledWhen>
	        	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
		    </enabledWhen>    
      </handler>         
      <handler
            class="org.daisy.emerson.ui.notes.handlers.DeleteSelectionHandler"
            commandId="org.daisy.emerson.commands.note.delete">	        
	        <activeWhen>                  
	           <reference
	               definitionId="org.daisy.emerson.ui.views.notes.inView">
	           </reference>
	        </activeWhen>	        
         	<enabledWhen>         
            	<with variable="selection">
					<iterate ifEmpty="false">
						<adapt type="org.daisy.reader.notes.Note"/>
					</iterate>												
			 	</with>
         	</enabledWhen>
      </handler>
      <handler
            class="org.daisy.emerson.ui.notes.handlers.DereferenceHandler"
            commandId="org.daisy.emerson.commands.note.dereference">	        
	        <activeWhen>                  
	           <reference
	               definitionId="org.daisy.emerson.ui.views.notes.inView">
	           </reference>
	        </activeWhen>	        
         	<enabledWhen>         
            	<with variable="selection">
            		<count value="1" />
					<iterate ifEmpty="false">
						<adapt type="org.daisy.reader.notes.Note"/>
					</iterate>												
			 	</with>
         	</enabledWhen>
      </handler>
      <handler
            class="org.daisy.emerson.ui.notes.handlers.EditNoteHandler"
            commandId="org.daisy.emerson.commands.note.edit">	        
	        <activeWhen>                  
	           <reference
	               definitionId="org.daisy.emerson.ui.views.notes.inView">
	           </reference>
	        </activeWhen>	        
         	<enabledWhen>         
            	<with variable="selection">
            		<count value="1" />
					<iterate ifEmpty="false">
						<adapt type="org.daisy.reader.notes.Note"/>
					</iterate>												
			 	</with>
         	</enabledWhen>
      </handler>      
      <handler
            class="org.daisy.emerson.ui.notes.handlers.ImportHandler"
            commandId="org.daisy.emerson.commands.note.import">	        
	        <activeWhen>                  
	           <reference
	               definitionId="org.daisy.emerson.ui.views.notes.inView">
	           </reference>
	        </activeWhen>	        
         	<enabledWhen>   
         		<and>                       
		           <reference
		               definitionId="org.daisy.emerson.ui.views.notes.inView">
		           </reference>
		           <reference
			        	definitionId="org.daisy.reader.model.IsLoaded">
			        </reference>
			    </and>    
         	</enabledWhen>
      </handler>
	  <handler
            class="org.daisy.emerson.ui.notes.handlers.ExportHandler"
            commandId="org.daisy.emerson.commands.note.export">       
	        <activeWhen>                  
	           <reference
	               definitionId="org.daisy.emerson.ui.views.notes.inView">
	           </reference>
	        </activeWhen>	        
         	<enabledWhen>        
	         	<and>                  
		           <reference
		               definitionId="org.daisy.emerson.ui.views.notes.inView">
		           </reference>
		        	<reference
			        	definitionId="org.daisy.reader.model.IsLoaded">
			        </reference>
		            <with
		              variable="org.daisy.reader.notes.IsEmpty">
		           		<equals
		                 	value="false">
		           		</equals>
		        	</with>		           
		        </and>
         	</enabledWhen>
      </handler>      
   </extension>
	
</plugin>