<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   	id="org.daisy.reader.model.provider" 
   	name="Model Provider" 
   	schema="schema/org.daisy.reader.model.provider.exsd"/>
   	
   <extension-point id="org.daisy.reader.model.audiokitfactory" 
   	name="AudioKitFactory" 
   	schema="schema/org.daisy.reader.model.audiokitfactory.exsd"/>
   	
   <extension-point 
   	id="org.daisy.reader.position.mementoSupport" 
   	name="Position Memento Support" 
   	schema="schema/org.daisy.reader.position.mementoSupport.exsd"/>
   <extension-point id="org.daisy.reader.model.propertyManager" name="Model Property Manager" schema="schema/org.daisy.reader.model.propertyManager.exsd"/>
   	
   <extension
         id="org.daisy.reader.uriposition.memento"
         name="URIPosition Memento Support"
         point="org.daisy.reader.position.mementoSupport">
      <mementoSupport
            class="org.daisy.reader.model.position.memento.URIPositionMementoSupport"
            supports="org.daisy.reader.model.position.URIPosition">
      </mementoSupport>
   </extension>
   <!--
   <extension
         id="org.daisy.reader.smilaudioposition.memento"
         name="SmilAudioPosition Memento Support"
         point="org.daisy.reader.position.mementoSupport">
      <mementoSupport
            class="org.daisy.reader.model.position.memento.SmilAudioPositionMementoSupport"
            supports="org.daisy.reader.model.position.SmilAudioPosition">
      </mementoSupport>
   </extension>
   -->   
   <extension
         id="org.daisy.reader.serializablesmilaudioposition.memento"
         name="SmilAudioPosition Memento Support"
         point="org.daisy.reader.position.mementoSupport">
      <mementoSupport
            class="org.daisy.reader.model.position.memento.SmilAudioPositionMementoSupport"
            supports="org.daisy.reader.model.position.SerializableSmilAudioPosition">
      </mementoSupport>
   </extension>   
   
   <extension
         id="org.daisy.reader.model.propertysourceprovider"
         name="Model Source Provider"
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.daisy.reader.model.source.PropertySourceProvider">
        <variable
               name="org.daisy.reader.model.IsLoaded"
               priorityLevel="workbench">
         </variable>
         <variable
               name="org.daisy.reader.model.HasPages"
               priorityLevel="workbench">
         </variable>
         <variable
               name="org.daisy.reader.model.HasNextPage"
               priorityLevel="workbench">
         </variable>         
         <variable
               name="org.daisy.reader.model.HasPrevPage"
               priorityLevel="workbench">
         </variable>
		<variable
               name="org.daisy.reader.model.HasNextHeading"
               priorityLevel="workbench">
         </variable>         
         <variable
               name="org.daisy.reader.model.HasPrevHeading"
               priorityLevel="workbench">
         </variable>
         <variable
               name="org.daisy.reader.model.InstanceClassName"
               priorityLevel="workbench">
         </variable>         
      </sourceProvider>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">      
      <definition
            id="org.daisy.reader.model.IsLoaded">            
            <with
              variable="org.daisy.reader.model.IsLoaded">
           		<equals
                 	value="true">
           		</equals>
        	</with>	        
      </definition>    
      <definition
            id="org.daisy.reader.model.HasPages">            
            <with
              variable="org.daisy.reader.model.HasPages">
           		<equals
                 	value="true">
           		</equals>
        	</with>	        
      </definition>                      
   </extension>

</plugin>
