<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.daisy.emerson.ui.views"
            class="org.daisy.emerson.ui.navigator.NavigatorView"
            icon="icons/navigator.gif"
            id="org.daisy.emerson.ui.views.navigator"
            name="%view.name.navigator">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.daisy.emerson.ui.perspectives.default">            
            <view
                  closeable="true"
                  id="org.daisy.emerson.ui.views.navigator"
                  moveable="true"
                  relationship="stack" 
                  relative="org.daisy.emerson.ui.perspectives.default.leftFolder"
                  showTitle="true"
                  standalone="false"
                  visible="true"/>                        
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">      
      <definition
            id="org.daisy.emerson.ui.views.navigator.inView">            
	         <with variable="activePartId">
	            <equals value="org.daisy.emerson.ui.views.navigator" />
	         </with>	        
      </definition>                   
   </extension>
   <extension
         point="org.eclipse.ui.commands">      
      <command
      		categoryId="org.daisy.emerson.ui.navigator.category.headings"
            id="org.daisy.emerson.commands.navigator.navigate.heading"
            name="%command.name.selectedHeading">
      </command>
      <command
            categoryId="org.daisy.emerson.ui.navigator.category.headings"
            id="org.daisy.emerson.commands.navigator.navigate.heading.next"
            name="%command.name.nextHeading">
      </command>
      <command
            categoryId="org.daisy.emerson.ui.navigator.category.headings"
            id="org.daisy.emerson.commands.navigator.navigate.heading.previous"
            name="%command.name.prevHeading">
      </command>
      <command
            categoryId="org.daisy.emerson.ui.navigator.category.pages"
            id="org.daisy.emerson.commands.navigator.navigate.page.next"
            name="%command.name.nextPage">
      </command>           
      <command
            categoryId="org.daisy.emerson.ui.navigator.category.pages"
            id="org.daisy.emerson.commands.navigator.navigate.page"
            name="%command.name.selectedPage">
      </command>
      <command
            categoryId="org.daisy.emerson.ui.navigator.category.pages"
            id="org.daisy.emerson.commands.navigator.navigate.page.previous"
            name="%command.name.previousPage">
      </command>
      <command            
            id="org.daisy.emerson.commands.navigator.expandTreeView"                
            name="%command.name.expandTreeView">
      </command>      
      <command
            id="org.daisy.emerson.commands.navigator.collapseTreeView"                
            name="%command.name.collapseTreeView">
      </command>
      <category
            id="org.daisy.emerson.ui.navigator.category.pages"
            name="Page Navigation Category">
      </category>      
      <category
            id="org.daisy.emerson.ui.navigator.category.headings"
            name="Heading Navigation Category">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.heading"
            disabledIcon="icons/go-heading-selected-disabled-16x16.png"
            icon="icons/go-heading-selected-16x16.png">
      </image>
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous"
            disabledIcon="icons/go-heading-prev-disabled-16x16.png"
            icon="icons/go-heading-prev-16x16.png">
      </image>
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.next"
            disabledIcon="icons/go-heading-next-disabled-16x16.png"
            icon="icons/go-heading-next-16x16.png">
      </image>
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.page.previous"
            disabledIcon="icons/go-page-prev-disabled-16x16.png"
            icon="icons/go-page-prev-16x16.png">
      </image>
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.page.next"
            disabledIcon="icons/go-page-next-disabled-16x16.png"
            icon="icons/go-page-next-16x16.png">
      </image>
      <image
            commandId="org.daisy.emerson.commands.navigator.navigate.page"
            disabledIcon="icons/go-page-selected-disabled-16x16.png"
            icon="icons/go-page-selected-16x16.png">
      </image>      
     <image
           commandId="org.daisy.emerson.commands.navigator.collapseTreeView"
           disabledIcon="icons/collapse_all_disabled.gif"
           icon="icons/collapse_all.gif">
     </image>
     <image
           commandId="org.daisy.emerson.commands.navigator.expandTreeView"
           disabledIcon="icons/expand_all_disabled.gif"
           icon="icons/expand_all.gif">
     </image>      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">      
         <!--         
      <menuContribution
            locationURI="toolbar:org.daisy.emerson.ui.views.navigator?after=additions">
            
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading"
               mnemonic="H">               
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading.next"
               mnemonic="E">              
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous"
               mnemonic="V">
         </command>         
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page"
               mnemonic="P">
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page.next"
               mnemonic="N">              
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page.previous"
               mnemonic="R">
         </command>
      </menuContribution>
      -->
      <menuContribution
            locationURI="menu:org.daisy.emerson.ui.views.navigator?after=additions">
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading"
               mnemonic="%command.mnemonic.selectedHeading">
		 </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading.next"
               mnemonic="%command.mnemonic.nextHeading">
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous"
               mnemonic="%command.mnemonic.prevHeading">                                         
         </command>		 
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page"
               mnemonic="%command.mnemonic.selectedPage">
		 </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page.next"
               mnemonic="%command.mnemonic.nextPage"> 
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.navigate.page.previous"
               mnemonic="%command.mnemonic.prevPage">                                         
         </command>                     
         <separator
               name="org.daisy.emerson.navigator.menu.separator1"
               visible="true">
         </separator>            
         <command
               commandId="org.daisy.emerson.commands.navigator.collapseTreeView">
         </command>
         <command
               commandId="org.daisy.emerson.commands.navigator.expandTreeView">
         </command>
         <separator 
         		name="org.daisy.emerson.navigator.menu.separator2" 
         		visible="true"> 
		 </separator>
         <command
               commandId="org.daisy.emerson.commands.view.close"
               id="org.daisy.emerson.menus.navigator.view.close">
               <parameter
                     name="org.daisy.emerson.ui.views.close.viewID"
                     value="org.daisy.emerson.ui.views.navigator">
               </parameter>
         </command>           
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.daisy.emerson.menus.ShowViewMenu">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/navigator.gif"
               id="org.daisy.emerson.ui.main.menu.showNavigator"
               label="%command.label.showNavigator"
               mnemonic="%command.mnemonic.showNavigator">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.daisy.emerson.ui.views.navigator">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=org.daisy.emerson.menus.FileMenu">
         <menu
               id="org.daisy.emerson.menus.ControlMenu"
               label="%menu.label.control"
               mnemonic="%menu.mnemonic.control">            
	         <command
	               commandId="org.daisy.emerson.commands.navigator.navigate.heading.next" />	         
	         <command
	               commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous" />	         
			 <command
	               commandId="org.daisy.emerson.commands.navigator.navigate.page" />         
			 <command
	               commandId="org.daisy.emerson.commands.navigator.navigate.page.next" />	         
	         <command
	               commandId="org.daisy.emerson.commands.navigator.navigate.page.previous" />
         </menu>
      </menuContribution>       
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="org.daisy.emerson.ui.main.toolbar.navigator">
		         <command
		               commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous"
		               icon="icons/go-heading-prev-32x32.png"
		               disabledIcon="icons/go-heading-next-disabled-32x32.png">		               
		         </command>            
	             <command
		               commandId="org.daisy.emerson.commands.navigator.navigate.heading.next"
		               icon="icons/go-heading-next-32x32.png"
		               disabledIcon="icons/go-heading-next-disabled-32x32.png">
		         </command>
		         <command
		               commandId="org.daisy.emerson.commands.navigator.navigate.page.previous"
		               icon="icons/go-page-prev-32x32.png"
		               disabledIcon="icons/go-page-prev-disabled-32x32.png">
		         </command>		         
				 <command
		               commandId="org.daisy.emerson.commands.navigator.navigate.page.next"
		               icon="icons/go-page-next-32x32.png"
		               disabledIcon="icons/go-page-next-disabled-32x32.png">
		         </command>		         
				 <command
		               commandId="org.daisy.emerson.commands.navigator.navigate.page"
		               icon="icons/go-page-selected-32x32.png"
		               disabledIcon="icons/go-page-selected-disabled-32x32.png">
		         </command>         
	            <separator
	                  name="org.daisy.emerson.main.navigatorseparator"
	                  visible="true">
	            </separator>	         
            </toolbar>
      </menuContribution>           
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">      
      <!-- Navigate selected heading - active only when a treeview item is selected -->
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigateSelectedHeadingHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.heading">
         <activeWhen>
			<reference
	           	definitionId="org.daisy.emerson.ui.views.navigator.inView">
	        </reference>
	     </activeWhen>
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	            <with variable="selection">
	               <count
	                     value="1">
	               </count>
	            </with>
            </and>
         </enabledWhen>         
      </handler>  

	<!-- Navigate next heading - active regardless of where focus is -->
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigateNextHeadingHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.next">        
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	            <with
	              variable="org.daisy.reader.model.HasNextHeading">
	           		<equals
	                 	value="true">
	           		</equals>
	        	</with>
            </and>
         </enabledWhen>         
      </handler>
      
      <!-- Navigate prev heading - active regardless of where focus is -->
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigatePrevHeadingHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous">        
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	            <with
	              variable="org.daisy.reader.model.HasPrevHeading">
	           		<equals
	                 	value="true">
	           		</equals>
	        	</with>
            </and>
         </enabledWhen>         
      </handler>
      
      <!-- Navigate selected page - active regardless of where focus is -->
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigateSelectedPageHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.page">         
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	         	<reference
		        	definitionId="org.daisy.reader.model.HasPages">
		        </reference>
            </and>
         </enabledWhen>         
      </handler>
      
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigateNextPageHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.page.next">        
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	            <with
	              variable="org.daisy.reader.model.HasNextPage">
	           		<equals
	                 	value="true">
	           		</equals>
	        	</with>
            </and>
         </enabledWhen>         
      </handler>
      
      <!-- Navigate prev page - active regardless of where focus is -->
      <handler
       		class="org.daisy.emerson.ui.navigator.handlers.NavigatePrevPageHandler"
            commandId="org.daisy.emerson.commands.navigator.navigate.page.previous">        
         <enabledWhen>
	         <and>
	         	<reference
		        	definitionId="org.daisy.reader.model.IsLoaded">
		        </reference>
	            <with
	              variable="org.daisy.reader.model.HasPrevPage">
	           		<equals
	                 	value="true">
	           		</equals>
	        	</with>
            </and>
         </enabledWhen>         
      </handler>
        
      <handler
            class="org.daisy.emerson.ui.navigator.handlers.TreeExpandHandler"
            commandId="org.daisy.emerson.commands.navigator.expandTreeView">            
            <activeWhen>
				<reference
	            	definitionId="org.daisy.emerson.ui.views.navigator.inView">
	            </reference>
	        </activeWhen>
	        <enabledWhen>
	           <and>
	           		<reference
		            	definitionId="org.daisy.reader.model.IsLoaded">
		            </reference>
					<reference
		            	definitionId="org.daisy.emerson.ui.views.navigator.inView">
		            </reference>
	            </and>
	        </enabledWhen>	              
	  </handler>
      <handler
            class="org.daisy.emerson.ui.navigator.handlers.TreeCollapseHandler"
            commandId="org.daisy.emerson.commands.navigator.collapseTreeView">
            <activeWhen>
				<reference
	            	definitionId="org.daisy.emerson.ui.views.navigator.inView">
	            </reference>
	        </activeWhen>
	        
	        <enabledWhen>	        
	           <and>
	           		<reference
		            	definitionId="org.daisy.reader.model.IsLoaded">
		            </reference>
					<reference
		            	definitionId="org.daisy.emerson.ui.views.navigator.inView">
		            </reference>
	            </and>            	
	        </enabledWhen>
	        	        	        
      </handler>

   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.daisy.emerson.commands.navigator.navigate.heading"
            contextId="org.daisy.emerson.contexts.views.navigator"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="org.daisy.emerson.commands.navigator.navigate.page"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="P">
      </key>   
      <key
            commandId="org.daisy.emerson.commands.navigator.navigate.page.previous"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="PAGE_UP">            
      </key>

      <key            
            commandId="org.daisy.emerson.commands.navigator.navigate.page.next"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="PAGE_DOWN">
      </key>
      <key
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.previous"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="G">            
      </key>

      <key
            commandId="org.daisy.emerson.commands.navigator.navigate.heading.next"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="H">
      </key>      

      <key
            commandId="org.eclipse.ui.views.showView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.daisy.emerson.defaultAcceleratorConfiguration"
            sequence="M3+N">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.daisy.emerson.ui.views.navigator">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.daisy.emerson.contexts.views.navigator"
            name="Navigator Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
	
</plugin>
